html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

body div.loader {
    display: none;
}

body.loading div.loader {
    display: block;
}

div.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 9999;
    padding-top: 10px;
}

#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#appLayout {
    height: 100%;
}

#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

.comboClass {
    width: 200px;
}

div.user-data {
    float: right;
}

div.dijitTreeNode .dijitCheckBoxInput {
    opacity: 1;
}

div.olControlLayerSwitcher {
    top: 35px;
}

#leftCol div.clearTree {
    width: 100%;
    text-align: right;
    font-size: 80%;
}

#menu {
    float: left;
}

/* Dojo floating panel style */
div.dojoxFloatingPaneContent.dijitContentPaneSingleChild {
    overflow-x: hidden !important;
}

div.dojoxFloatingPane div.dojoxFloatingPaneTitle {
    background: #b4d2fc repeat-x bottom left;
}

div.dojoxFloatingPane textarea {
    font-family: 'Times New Roman';
    font-size: 16px;
}

/*coordinatesPicker element*/
span.dijitToggleButton.dijitChecked {
    font-weight: bold;
}

label[for="coordinatesPicker"] {
    display: none;
}

/* key area Dialog styles */
div.dgrid div.dgrid-row-odd {
    background-color: #eff3f7;
}

div.keyAreaDialog div.dgrid.dgrid-grid {
    height: 96%;
    margin: 4px;
}

/* OpenLayers popup styles */
#map div.olPopup {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* Synonyms grid */
#synonymsGrid {
    height: 10em;
}

#synonymsGrid th {
    font-weight: normal;
}
