html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

body div.loader {
    display: none;
}

body.loading div.loader {
    display: block;
}

div.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 9999;
    padding-top: 10px;
}

#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#appLayout {
    height: 100%;
}

#leftCol {
    width: 14em;
}

.claro,
div.dojoxFloatingPane textarea,
#map div.olPopup
 {
    font-family: arial, tahoma, helvetica, sans-serif;
}

.claro {
    font-size: 0.73em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

.comboClass {
    width: 200px;
}

div.user-data {
    float: right;
}

/*Tree*/
div.dijitTreeNode .dijitCheckBoxInput {
    opacity: 1;
}

.dijitCheckBox,
.dijitRadio,
.dijitCheckBoxInput {
    width: 15px;
    height: 15px;
}

.claro div.dijitTreeRow,
.claro div.dijitTreeNode .dojoDndItemBefore,
.claro div.dijitTreeNode .dojoDndItemAfter {
    padding: 2px 0 1px 0;
}

div.olControlLayerSwitcher {
    top: 35px;
}

#leftCol div.clearTree {
    width: 100%;
    text-align: right;
    margin-bottom: 9px;
    font-size: 90%;
}

#menu {
    float: left;
}

/* Dojo floating panel style */
div.dojoxFloatingPaneContent.dijitContentPaneSingleChild {
    overflow-x: hidden !important;
}

div.dojoxFloatingPane div.dojoxFloatingPaneTitle {
    background: #b4d2fc repeat-x bottom left;
}

/*coordinatesPicker element*/
span.dijitToggleButton.dijitChecked {
    font-weight: bold;
}

label[for="coordinatesPicker"] {
    display: none;
}

/* key area Dialog styles */
div.dgrid div.dgrid-row-odd {
    background-color: #eff3f7;
}

div.keyAreaDialog div.dgrid.dgrid-grid {
    height: 96%;
    margin: 4px;
}

/* OpenLayers popup styles */


/* Synonyms grid */
#synonymsGrid {
    height: 10em;
}

#synonymsGrid th {
    font-weight: normal;
}

/* PhotoGallery */
div.photo-gallery.status span {
    color: gray;
    display: inline;
}

div.photo-gallery.status div.images {
    display: none;
}

div.photo-gallery span {
    display: none;
}

div.dropzone-dialog div.dijitDialogPaneContent {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}