#maket {
    width:100%;
    height: 100%;
}

#header {
    height: 5%;
}
#layerTree {
    width: 20%;       
    height: 91%;
    float: left;
}
#map {
    width: 80%;
    height: 91%;
    float: right;
}
