html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#loader {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 9999;
    font-size: 2vw;
}

body.loading #loader {
    display: block;
}

#loader div.wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    width: 300px;
}

#loader img {
    width: 100%;
}

#loader .meter {
    /*display: none;*/
    /*position: absolute;*/
    /*top: 30px;*/
    /*right: 3px;*/
    background: transparent;
    z-index: 99999;
    font-size: 13px;
    border: 1px solid rgb(218, 231, 231);
}

#loader .meter {
    height: 6px;
    width: 300px;
    position: relative;
}

#loader .meter > span {
    display: block;
    height: 100%;
    width: 0;
    background: rgb(23, 111, 193) linear-gradient(to top, rgb(23, 111, 193), rgb(138, 182, 216));
    position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#appLayout {
    height: 100%;
}

#leftCol {
    width: 10%;
    overflow: hidden !important;
}

.claro,
div.dojoxFloatingPane textarea,
#map div.olPopup {
    font-family: arial, tahoma, helvetica, sans-serif;
}

.claro {
    font-size: 0.73em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
    width: 550px;
    height: 550px;
}

.comboClass {
    width: 200px;
}

div.user-data {
    float: right;
}

/*Tree*/
div.dijitTreeNode .dijitCheckBoxInput {
    opacity: 1;
}

.dijitCheckBox,
.dijitRadio,
.dijitCheckBoxInput {
    width: 15px;
    height: 15px;
}

.claro div.dijitTreeRow,
.claro div.dijitTreeNode .dojoDndItemBefore,
.claro div.dijitTreeNode .dojoDndItemAfter {
    padding: 2px 0 1px 0;
}

#taxonsTree {
    position: absolute;
    bottom: 0;
    top: 35px;
    right: 0;
    left: 0;
}

div.olControlLayerSwitcher {
    top: 35px;
}

#leftCol div.clearTree {
    width: 100%;
    text-align: right;
    margin-bottom: 9px;
    font-size: 90%;
}

#menu {
    float: left;
}

/* Dojo floating panel style */
div.dojoxFloatingPaneContent.dijitContentPaneSingleChild {
    overflow-x: hidden !important;
}

div.dojoxFloatingPane div.dojoxFloatingPaneTitle {
    background: #b4d2fc repeat-x bottom left;
}

/*coordinatesPicker element*/
span.dijitToggleButton.dijitChecked {
    font-weight: bold;
}

label[for="coordinatesPicker"] {
    display: none;
}

/* key area Dialog styles */
div.dgrid div.dgrid-row-odd {
    background-color: #eff3f7;
}

div.keyAreaDialog div.dgrid.dgrid-grid {
    height: 96%;
    margin: 4px;
}

/* Synonyms grid */
#synonymsGrid {
    height: 10em;
}

#synonymsGrid th {
    font-weight: normal;
}

/* PhotoGallery */
div.photo-gallery.status span {
    color: gray;
    display: inline;
}

div.photo-gallery.status div.images {
    display: none;
}

div.photo-gallery span {
    display: none;
}

div.dropzone-dialog div.dijitDialogPaneContent {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

/* jsTree */
div.tree-wrapper {
    position: absolute;
    top: 33px;
    bottom: 5px;
    width: 93%;
    overflow: auto;
}

/* jsTree taxon icons */
#taxonJsTree i.jstree-themeicon {
    background-image: url(../img/taxon-types.png);
}

#taxonJsTree i.jstree-icon.Kingdom {
    background-position: -7px -7px;
}

#taxonJsTree i.jstree-icon.Phylum {
    background-position: -39px -7px;
}

#taxonJsTree i.jstree-icon.Class {
    background-position: -71px -7px;
}

#taxonJsTree i.jstree-icon.Order {
    background-position: -103px -7px;
}

#taxonJsTree i.jstree-icon.Family {
    background-position: -135px -7px;
}

#taxonJsTree i.jstree-icon.Genus {
    background-position: -167px -7px;
}

#taxonJsTree i.jstree-icon.Species {
    background-position: -199px -7px;
}

div.search-row {
    margin: 5px 0;
}

/*Cards table page*/

div.forms {
    display: flex;
}

div.forms div.col {
    padding: 1em;
}

div.filter-form {
    display: inline-block;
    width: 380px;
}

div.export-form {
    display: inline-block;
    width: 150px;
}

#formFilter fieldset,
#formExport fieldset {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
}

#formExport input {
    display: block;
}

#formFilter div.filter-row {
    margin-top: 3px;
}

#formFilter input.dojo-button,
#formExport input.dojo-button {
    margin: 4px 0;
    cursor: pointer;
    border: 1px solid #759dc0;
    padding: 2px 4px 4px 4px;
    color: #000000;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #bcd8f4;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
}

#formFilter input.dojo-button:hover {
    background-color: #86bdf2;
    color: #000000;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#formFilter label {
    display: inline-block;
    width: 150px;
}

#formFilter input[type=text],
#formFilter select {
    width: 150px;
}

#formFilter input[type=text][data-datepicker] {
    width: 80px;
}

#cardsTable {
    margin-top: 15px;
}

#UploadPolygonPopup p {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

#UploadPolygonPopup span.cardsCount {
    font-weight: bold;
}

#formTemporary {
    display: none;
}