ul.breadcrumbs > * {
    text-decoration: none;
    text-transform: none;
    font-size: 0.9em;
}

ul.breadcrumbs {
    margin: 0;
}

div.nav-arrows a {
    width: 48px;
    height: 48px;
    background-image: url(nextgis-sprite.png);
}

div.nav-arrows a.prev {
    background-position: 0 0;
}

div.nav-arrows a.prev {
    background-position: 0 -48px;
}